# Binários
*.exe
*.out
*.test
*.bin
main
app

# Env
.env
.env.*
*.env
!.env.example

# Coverage
coverage.out
coverage.txt
*.cover

# Build
/tmp
/build
/dist

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db